__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
*.swp
*.swo
*~
.dockerignore
Dockerfile
.docker
README.md
LICENSE
pytest.ini
update.sh
daygle_mail_archiver.conf.example
docker-compose.yml
init_db.py
scripts/
worker/
db/